body {
    background-image:
    linear-gradient(
        transparent,
        #3BABBF,
        #CD8B74
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

/* jumbotron elements */

.jumbotron{
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    height: 100%;
    background-image: url("../img/hero-dan-aragon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
}

#byline {
    letter-spacing: 1px;
}

#hi {
    border-color: #E46A6E;
}

#hi:hover {
    background-color: #E46A6E;
}

/* Nav menu */
.navbar {
    position: absolute;
    bottom: 0px;
    letter-spacing: 1px;
}

/* Sections */